<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_APP_KEY</key>
	<string>a27b75eefdba2099e063f4b3f7c5af80</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>blue</string>
		<key>UIImageName</key>
		<string></string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
