<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717118882060-dcudb09b0hn4cr4anfknfn5suiq3ugka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717118882060-dcudb09b0hn4cr4anfknfn5suiq3ugka</string>
	<key>API_KEY</key>
	<string>AIzaSyAa0ioWCbEl5e4Zfd81pAldHTQK0TtHL1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>717118882060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.kmj.NaeRim-ver2</string>
	<key>PROJECT_ID</key>
	<string>naerim-d34ce</string>
	<key>STORAGE_BUCKET</key>
	<string>naerim-d34ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717118882060:ios:8f791d639fe357bf058929</string>
</dict>
</plist>